/* FORMAT RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

.no-underline {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    background-color: #0061fe;
    color: white;
}

.transparent {
    color: #afb4be;
}

.list-spacing {
    padding-bottom: 20px;
}

.white {
    color: white;
}

.blue {
    color: #2171fe;
}

/* GENERAL RULES */

/* HEADER RULES */
.header-main {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-list {
    display: flex;
}

.info-list {
    display: flex;
}

.logo-image {
    padding-right: 50px;
}

.header-spacing {
    padding: 10px;
    display: inline;
}

.login-list {
    height: 100%;
    display: flex;
    align-items: center;
}

.access-list {
    padding-right: 20px;
}

.margin-button {
    margin-right: 30px;
}

/* HERO RULES */


.title-container {
    margin: 0 auto;
    width: 60%;
}

.title-box {
    width: 900px;
    margin: 0 auto;
}

.hero-section {
    padding-top: 30px;
}

.hero-description {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.description-text {
    width: 17%;
    line-height: 20px;
}

.description-image {
    width: 40%;
}

.jumbo-image {
    width: 700px;
}

.hero-section {
    background-color: #b4d0e6;
}

.text-inside {
    padding-bottom: 50px;
}

.cancel {
    display: block;
    padding-top: 50px;
}

.arrow {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 50px;
}

/* INFO SECTION RULES */

.info-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 30px;
}

.checkbox-container {
    width: 50%;
    margin: 0px auto 50px auto;
    padding-top: 30px;
}

.checkbox {
    padding: 30px;
}

.banner-container {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    gap: 40px;
}


.banner {
    width: calc((100%/3) - (20px/3));
    margin-top: 50px;
    border: 1px solid #ebebed;
}

.banner-user {
    text-align: center;
    padding: 10px;
    border: 1px solid #ebebed;
}

.banner-title {
    padding-top: 30px;
    padding-left: 30px;
}

.banner-spacing {
    display: block;
    padding-bottom: 10px;
}

.banner-list {
    padding-top: 50px;
    padding-left: 10px;
    max-height: 220px;
}

.banner-button {
    text-align: center;
    padding: 50px 10px 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.banner-link {
    padding-top: 50px;
    padding-left: 35px;
}

.h5-list {
    padding-top: 100px;
    padding-left: 35px;
    padding-bottom: 20px;
}

.ul-spacing {
    margin-bottom: 100px;
}

.grey-line {
    border-top: 1px solid #e8e8ea;
    width: 20%;
    height: 20px;
    margin-top: 40px;
    margin-left: 35px;
}



.horizontal-banner {
    width: 69%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #ebebed;
}

.enterprise-container {
    display: flex;
}

.enterprise-button {
    padding-left: 80px;
    padding-top: 40px;
}

.enterprise-description {
    padding-left: 35px;
    padding-top: 30px;
    width: 70%;
}

.description-spacing {
    padding-top: 20px;
}