/* FORMAT RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    background-color: #0061fe;
    color: white;
}





/* GENERAL RULES */

/* HEADER RULES */
.header-main {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-list {
    display: flex;
}

.info-list {
    display: flex;
}

.logo-image {
    padding-right: 50px;
}

.header-spacing {
    padding: 10px;
    display: inline;
}

.login-list {
    height: 100%;
    display: flex;
    align-items: center;
}

.access-list {
    padding-right: 20px;
}

.margin-button {
    margin-right: 30px;
}

/* HERO RULES */


.title-container {
    margin: 0 auto;
    width: 60%;
}

.title-box {
    width: 900px;
    margin: 0 auto;
}

.hero-section {
    padding-top: 30px;
}

.hero-description {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.description-text {
    width: 17%;
    line-height: 20px;
}

.description-image {
    width: 40%;
}

.jumbo-image {
    width: 700px;
}

.hero-section {
    background-color: #b4d0e6;
}

.text-inside {
    padding-bottom: 50px;
}

.cancel {
    display: block;
    padding-top: 50px;
}

.arrow {
    padding-top: 40px;
    font-size: 50px;
}

    /* INFO SECTION RULES */

.info-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 200px;
}